#left-col
  #header1
    Innovative + intuitive<br>software development
  #header2
    helping organizations achieve<br>
    goals efficiently and enjoyably

  .section
    .h1 Highlights of Qualifications
    = haml :_qualifications
  .section
    .h1 Professional Experience
    = haml :_experience
  .section
    .h1 Education
    = haml :_education

#right-col
  #first_name Jason
  #last_name Galuten
  #designation Web Developer
  #image
    %img{:src => 'head_shot.png'}
  #info
    445 Summit Rd.<br>
    Watsonville, CA 95076
  #info
    %a{:href => 'mailto:jason@galuten.com'} jason@galuten.com
    %div +1 310 980 2841
    %a{:href => 'http://www.github.com/shantamg'} github.com/shantamg
    
#footer
