.title_info
  .headings
    .position Piano
    .company Berklee College of Music
    .where Boston, MA
  .period 2000 - 2002
.title_info
  .headings
    .position Music Composition
    .company College of Creative Studies, UCSB
    .where Santa Barbara, CA
  .period 1998 - 1999
