.text
  .item
    %span Professional
    web-based software developer with over 5 years experience creating complete systems, and maintaining/improving existing codebases
  .item
    %span Proficient
    with LAMP, CakePHP, Javascript, jQuery, Prototype, MySQL, Vim
  .item
    %span Excellent
    collaborator, team builder, and communicator
  .item
    %span Continually expanding
    knowledge of new systems and languages
  .item
    %span Learning
    Ruby on Rails
  .item 
    %span Active
    Jazz Piano Player, Composer, and Music Instructor
