<!DOCTYPE html>
%html
  %head
    %title Jason Galuten | Web Developer
    %link{:rel => "stylesheet", :href => "views/style.css", :type => "text/css", :media => "all"}
  %body
    #container

      #left-col
        #header1
          Innovative + intuitive<br>software development
        #header2
          helping organizations achieve<br>
          goals efficiently and enjoyably

        .section
          .h1
            Highlights of Qualifications
          .text
            .item
              %span Professional
              web-based software developer with over 5 years experience creating complete systems, and maintaining/improving existing codebases
            .item
              %span Proficient
              with LAMP, CakePHP, Javascript, jQuery, Prototype, MySQL, Vim
            .item
              %span Excellent
              collaborator, team builder, and communicator
            .item
              %span Continually expanding
              knowledge of new systems and languages
            .item
              %span Learning
              Ruby on Rails
            .item 
              %span Active
              Jazz Piano Player and Composer, and Music Instructor
        .section
          .h1
            Professional Experience
          .title_info
            .headings
              .position Software Engineer
              .company
                %a{:href => 'http://www.saltspringcentre.com'} Salt Spring Centre of Yoga
              .where Salt Spring Island, BC, Canada
            .period 2012 - Present
          .text
            .item
              Replacing piece-meal, dated systems and databases with a comprehensive software tool integrating the many unique aspects of the organization's structure. This web based app is designed to bring together online registration, contact databases, room assignments, administrative task delegation, detailed reports, and systems management into one streamlined and centralized mix.
            .item
              Improving productivity, reducing error, minimizing manual labor and employee burn-out.
          .title_info
            .headings
              .position Website Developer
              .company
                %a{:href => 'http://www.rovingnetworks.com'} Roving Networks 
              .where Los Gatos, CA
            .period 2011 - 2012
          .text
            .item
              Collaborated with a graphic designer to create a new company website complete with a product database, complex user login and back-end structure, highly customized content management system, online store, news article section, 
          .title_info
            .headings
              .position Software Engineer
              .company
                %a{:href => 'http://www.mountmadonna.org'} Mount Madonna Center
              .where Mount Madonna, CA
            .period 2007 - 2012
          .text
            .item
          .title_info
            .headings
              .position Jazz Piano Player, Composer, Band&nbsp;Leader, Recording Artist
            .period 2001 - Present
          .text
            .item
              Featured on numerous published recordings including
              <i>Drumenergy</i> (2012) – Shawn Glyde (Keyboards, Composer),
              <i>Alternate Rhythm</i> (2007) – Shawn Glyde (Keyboards, Composer),
              <i>3D</i> (2004) – Jing Chi (Composer)
            .item
              Piano Player, Grand Hotel, Mackinac Island, MI (2005)
            .item
              Leader of the Jazz trio “Society,” playing weekly at Stobers Bar in Lansing, MI (2003 - 2004)
            .item
              Ran a weekly Jazz Jam Session in Boston, MA (2001 – 2002)
        .section
          .h1
            Education
          .title_info
            .headings
              .position Piano
              .company Berklee College of Music
              .where Boston, MA
            .period 2000 - 2002
          .title_info
            .headings
              .position Music Composition
              .company College of Creative Studies, UCSB
              .where Santa Barbara, CA
            .period 1998 - 1999

      #right-col
        #first_name Jason
        #designation Web Developer
        #image
          %img{:src => 'head_shot.png'}
        #full_name Jason Galuten
        #info
          1201 Eagle Ave<br>
          Alameda, CA 94501
        #info
          
          %a{:href => 'mailto:jason@galuten.com'} jason@galuten.com
          %div +1 310 980 2841

          
          
      #footer
