<!DOCTYPE html>
%html
  %head
    %title Jason Galuten | Web Developer
    %link{:rel => "stylesheet", :href => "views/style.css", :type => "text/css", :media => "all"}
  %body
    #container
      = haml :_content
